/* Clock line colour */
.clock {
  color: white;
}
/* XMB title colour */
#xmb label {
  color: white;
}
/* XMB & payload icons colour */
#xmb .cell.active {
  color: deepskyblue;
}
/* Payload title line colour */
.titles {
  color: deepskyblue;
}
/* Payload description line colour */
.desc {
  color: white;
}
/* Payload version line colour */
.subs {
  color: grey;
}
/* Info read out line colour */
.infoz {
  color: grey;
}
/* Username colour */
#user {
	color: deepskyblue;
}
/* IP address colour */
#myip {
	color: deepskyblue;
}

